@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: black; /* Set a default text color */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}